*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  font-family: Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-variant: tabular-nums;
  line-height: 1.5715;
  background-color: var(--color-secondary-lightest);
  font-feature-settings: "tnum";
}

a,
area,
button,
[role="button"],
input:not([type="range"]),
label,
select,
summary,
textarea {
  touch-action: manipulation;
}
table {
  border-collapse: collapse;
}
input,
button,
select,
optgroup,
textarea {
  margin: 0;
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

body,
html {
  --font-family-monospace: "roboto mono", monospace;
  --color-primary-dark-rgb: 16, 100, 178;
  --color-primary-dark: rgb(var(--color-primary-dark-rgb));
  --color-primary-rgb: 24, 144, 255;
  --color-primary: rgb(var(--color-primary-rgb));
  --color-primary-light-rgb: 186, 231, 255;
  --color-primary-light: rgb(var(--color-primary-light-rgb));

  --color-secondary-lightest-rgb: 250, 250, 250;
  --color-secondary-lightest: rgb(var(--color-secondary-lightest-rgb));
  --color-secondary-lighter-rgb: 235, 235, 235;
  --color-secondary-lighter: rgb(var(--color-secondary-lighter-rgb));
  --color-secondary-light-rgb: 191, 191, 191;
  --color-secondary-light: rgb(var(--color-secondary-light-rgb));
  --color-secondary-rgb: 118, 118, 118;
  --color-secondary: rgb(var(--color-secondary-rgb));

  --color-background-rgb: 255, 255, 255;
  --color-background: rgb(var(--color-background-rgb));

  --color-error: red;
  --color-text-lighter: rgb(191, 191, 191);
  --color-text-light: rgb(118, 118, 118);
  --color-text-primary: rgb(67, 67, 67);

  --border-radius: 4px;
  --transition-duration: 300ms;
  --transition-timing-function: ease;
  font-size: 14px;
  --font-size-small: 12px;
  color: var(--color-text-primary);
}

#root {
  height: 100vh;
}

.MuiTab-root,
.MuiButton-root {
  text-transform: none;
}

math-field {
  border-radius: 0;
  font-size: 1.25rem;
  color: var(--color-text-primary);
}
math-field::part(menu-toggle) {
  display: none;
}
