.header {
  height: var(--header-height);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--color-secondary-lightest);
  border-bottom: 1pt solid var(--color-secondary-light);
}

.header-container {
  display: grid;
  grid-template-columns: min-content 1fr auto;
  grid-template-rows: var(--header-height);
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.brand {
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--color-text-lighter);
}

.nav-container {
  display: flex;
}
.nav-container > * {
  margin-left: 1rem;
  margin-right: 1rem;
}
