.container {
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: var(--header-height) 1fr;
  height: 100%;
  overflow: hidden;
}

.header {
  height: var(--header-height);
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  background-color: var(--color-secondary-lightest);
  border-bottom: 1pt solid var(--color-secondary-light);
}

.bodyVariables {
  --header-height: 50px;
  --sidebar-width: min(375px, calc(100vw - 50px));
  --sidebar-z: 10;
  --sidebar-duration: 0.5s;
}

.sidebar {
  height: 100%;
  width: var(--sidebar-width);
  z-index: var(--sidebar-z);
  background-color: var(--color-secondary-lightest)
}

.body {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-height: calc(100vh - var(--header-height));
  position: relative;
}

.scene-adjust-controls-open {
  transform: translateX(
    calc(var(--sidebar-width) / 2)
  );
  transition-duration: var(--sidebar-duration);
}
.scene-adjust-controls-closed {
  transform: translateX(0px);
  transition-duration: var(--sidebar-duration);
}

.header-container {
  display: grid;
  grid-template-columns: min-content 1fr min-content;
  grid-template-rows: var(--header-height);
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.brand {
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--color-text-lighter)
}

.nav-container {
  display: flex;
}
.nav-container > * {
  padding-left: 1rem;
  padding-right: 1rem;
}