.sidebar-container {
  position: absolute;
  transition: transform 1s;
  background-color: white;
}

.right-sidebar {
  right: 0;
}

.left-sidebar-collapse-button {
  position: absolute;
  right: 0;
  transform: translateX(100%);
}

.left-sidebar-collapsed {
  transform: translateX(-100%);
}

.right-sidebar-collapse-button {
  position: absolute;
  left: 0;
  transform: translateX(-100%);
}

.right-sidebar-collapsed {
  transform: translateX(100%);
}
