.main {
  display: flex;
  justify-content: center;
  padding: 3rem 1rem;
}

.card {
  box-sizing: border-box;
  width: 100%;
  max-width: 28rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
