.table {
  width: 100%;
}

.headerRow th {
  text-align: left;
}

.row td {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 8px;
  padding-left: 8px;
}
.row:not(:last-of-type) {
  border-bottom: 1px solid var(--color-secondary-lighter);
}

.keyboard {
  font-family: var(--font-family-monospace);
  font-size: 14px;
  line-height: 20px;
  color: var(--color-text-primary);
  border: 1px solid var(--color-secondary-lighter);
  padding: 4px;
  white-space: nowrap;
}
