.share-popover {
  padding: 1em;
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 0.5em;
  grid-template-rows: auto auto;
  width: 275px;
}
.share-note {
  grid-column-start: 1;
  grid-column-end: 3;
  margin: 0px;
}

.saving {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.input {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.copy-button {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}
.copied-indicator {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: center;
}
.copied {
  visibility: visible;
  font-size: 1.25em;
  color: var(--color-primary);
}
.not-copied {
  visibility: hidden;
}
