.tab-navs {
  height: 56px;
}
.tab-navs .tab-nav {
  height: 100%;
}
.tab-navs .tab-nav > * {
  display: flex;
  align-items: center;
  height: 100%;
}

.tab-content {
  height: calc(100% - 56px);
}

.tab-pane {
  height: 100%;
}
