.container {
  display: flex;
  align-items: center;
  min-width: 0;
}

.title {
  margin: 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--color-text-light);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.untitled {
  font-style: italic;
}
