.parameters {
  display: grid;
  padding-left: 6px;
  padding-top: 6px;
  padding-bottom: 6px;
  grid-template-columns: min-content min-content;
  justify-content: end;
  align-items: center;
}

.param-input {
  min-width:10px;
}