.scrollable {
  height: 100%;
  overflow-y: auto;
  margin-right: -100vw;
  padding-right: +100vw;
  pointer-events: none;
}

.scrollable * {
  pointer-events: auto;
}
.scrollable.events {
  pointer-events: auto;
}
