.speedControls, .stepControls, .playButton {
  max-height: 20px;
}

.playButton {
  max-width: 20px;
}

:global(.MuiButton-root.MuiButtonGroup-grouped).speedControls {
  max-width: 30px;
  min-width: 30px;
}

:global(.MuiButton-root.MuiButtonGroup-grouped).stepControls {
  max-width: 25px;
  min-width: 25px;
}

.speedGroup {
  margin-left: 10px;
  margin-right: 10px;
}

:global(.MuiIconButton-root).playButton {
  border: 1px solid rgba(var(--color-secondary-rgb), 0.5)
}
.playButton:hover {
  border: 1px solid rgba(var(--color-secondary-rgb))
}