.speedControls, .stepControls {
  max-height: 20px;
}

:global(.MuiButton-root.MuiButtonGroup-grouped).speedControls {
  max-width: 30px;
  min-width: 30px;
}

:global(.MuiButton-root.MuiButtonGroup-grouped).stepControls {
  max-width: 25px;
  min-width: 25px;
}

.speedGroup {
  margin-left: 10px;
  margin-right: 10px;
}