.sidebar-container {
  position: absolute;
  transition: transform 1s;
  background-color: white;
}

.collapse-button {
  position: absolute;
  right: 0;
  transform: translateX(100%);
}

.collapsed-left {
  transform: translateX(-100%);
}
