.controlsRow {
  display: flex;
  justify-content: space-between;
  align-items: start;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 5px;
}

.displayValueLhs {
  width: 36px;
}
.displayValueRhs {
  width: 52px;
}
.separator {
  width: 24px;
}

.sliderRow {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 1em;
}

.sliderControls {
  margin-top: 10px;
  display: flex;
  align-items: center;
  row-gap: 16px;
  flex-wrap: wrap;
}
