.rotate-0 {
  transform: rotate(0deg);
  transition-duration: var(--transition-duration);
}
.rotate-90 {
  transform: rotate(-90deg);
  transition-duration: var(--transition-duration);
}

.color {
  color: var(--color-secondary)
}

.toggleButton {
  height: 25px;
  width: 25px;
}