.settings-form {
  display: grid;
  grid-template-columns: auto minmax(100px, auto);
  align-items: center;

  align-items: baseline;
  row-gap: 0.5em;
  column-gap: 2em;
}

.settings-item {
  min-height: 30px;
}

.settings-button {
  font-size: 20px;
  color: var(--color-secondary-light);
}

.close {
  position:absolute;
  top:0;
  right:0
}

.container {
  position: relative;
  padding-top: 0.5em;
  padding-bottom:1em;
  padding-left: 1em;
  padding-right: 1em;
}

.title {
  margin:0;
}

.divider {
  border-width: 0 0 1px 0;
  border-color: var(--color-secondary-light);
  margin-left: -1em;
  margin-right: -1em;
}