.last-folder {
  border-bottom: 1px solid var(--color-secondary-7);
}

.dragging {
  filter: opacity(0.25);
}

.folder {
  transition-property: height;
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-timing-function);
}

.placeholder {
  margin:1em;
  padding:1em;
  border: 2pt dashed var(--color-secondary-5);
  border-radius: var(--border-radius);
}