.container {
  display: grid;
  grid-template-columns: var(--sidebar-width) 1fr;
  grid-template-rows: var(--header-height) 1fr;
  height: 100%;
  overflow: hidden;
}

.container > * {
  border: 1pt solid red;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-height: calc(100vh - var(--header-height));
}

.body {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
