.container {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 50px 1fr;
  height: 100%;
  overflow: hidden;
}

.container > * {
  border: 1pt solid red;
}

.header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  max-height: calc(100vh - 50px);
}

.body {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
