.header {
  /* height: var(--header-height); */
  height: 50px;
  background-color: var(--color-secondary-lightest);
  border-bottom: 1pt solid var(--color-secondary-light);

  display: grid;
  grid-template-columns: auto min-content minmax(0, 1fr) auto;
  grid-template-rows: var(--header-height);
  align-items: center;
  padding-left: 1rem;
  padding-right: 1rem;
}

.start {
  display: flex;
  align-items: center;
}

.start:not(:empty) {
  margin-right: 0.5rem;
  margin-left: -0.5rem;
}

.brand {
  font-weight: 900;
  font-size: 1.25rem;
  color: var(--color-text-lighter);
  margin-right: 1rem;
}

.title {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.25;
}

.nav-container {
  display: flex;
}
.nav-container > * {
  margin-left: 1rem;
  margin-right: 1rem;
}
