.has-error, .field-widget-input.has-error{
  padding-right:0pt;
  padding-left: 0pt;
  padding-bottom: 2pt;
  background-image: linear-gradient(
    to top,
    var(--color-error),
    var(--color-error) 1px,
    transparent 1px,
    transparent
  );
}
.has-error:focus-within, .field-widget-input.has-error:focus-within {
  background-image: linear-gradient(
    to top,
    var(--color-error),
    var(--color-error) 2pt,
    transparent 2pt,
    transparent
  );
}

.static-math {
  font-size: 1.25em;
}

.field-widget {
  margin-bottom: 2pt;
}

.field-widget-input {
  min-width: 10px;
  font-size: 1.25em;
  border: none;
  margin-left:2pt;
  margin-right:2pt;
  padding-right:0pt;
  padding-left: 0pt;
  padding-bottom: 2pt;
  background-image: linear-gradient(
    to top,
    var(--color-secondary),
    var(--color-secondary) 1px,
    transparent 1px,
    transparent
  );
}
.field-widget-input:focus-within {
  font-size: 1.25em;
  border: none;
  background-image: linear-gradient(
    to top,
    var(--color-primary),
    var(--color-primary) 2pt,
    transparent 2pt,
    transparent
  );
}

textarea.field-widget-input {
  resize: none;
}


.field-widget-input {
  box-sizing: border-box;
}
.field-widget-input:focus {
  outline: none;
}

.detail-text {
  font-size: 75%;
  font-style: italic;
  color: var(--color-text-gray)
}

.error-tooltip {
  width: 250px;
}