.has-error {
  border-bottom: 1pt solid var(--color-error) !important;
  margin-bottom: -1pt;
}
.has-error:focus {
  border-bottom: 2pt solid var(--color-error) !important;
  margin-bottom: -1pt;
}

.static-math {
  font-size: 1.25em;
}

.math-input {
  font-size: 1.25em;
  border-bottom: 1pt solid var(--color-secondary);
  margin-bottom: -1pt;
}

.math-input:focus {
  outline: none;
  border-bottom: 2pt solid var(--color-primary);
  margin-bottom: -2pt;
}

.detail-text {
  font-size: 75%;
  font-style: italic;
  color: var(--color-text-gray)
}