.form-content {
  display: grid;
  grid-template-columns: auto;
  row-gap: 16px;
}

.email-address {
  color: var(--color-primary-dark);
  font-family: monospace;
}

.sign-in-footer {
  padding-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
