.color-picker-grid {
  padding: 5px;
  display: grid;
  grid-template-columns: repeat(5, minmax(min-content, 1fr));
  justify-items: center;
  grid-auto-rows: min-content;
  gap: 5px;
}

.color-input {
  grid-column-start: 1;
  grid-column-end: -1;
  justify-self: stretch;
}

.color-swatch {
  border-radius: 15%;
  height: 30px;
  aspect-ratio: 1;
  cursor: pointer;
  border: none;
  transition: transform var(--transition-duration)
    var(--transition-timing-function);
}

@media (hover: hover) {
  .color-swatch:hover {
    transform: scale(115%);
  }
}

.color-swatch:focus-visible {
  transform: scale(115%);
}

@media (prefers-reduced-motion: reduce) {
  .color-swatch {
    transition: none;
  }
}

.light-colored-swatch {
  border: 1pt solid gray;
}

.color-swatch.text-color-swatch {
  height: 1em;
  pointer-events: none;
}
