.circle {
  border-radius: 50%;
  width: calc(100% - 10px);
  aspect-ratio: 1;
  border: none;
  background: var(--indicator-color);
  cursor: pointer;
}

.circle::before {
  border-radius: 50%;
  content: "";
  background: var(--indicator-color);
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  position: absolute;
  pointer-events: none;
}
.empty.circle::before {
  background: var(--color-background);
}

.dialog {
  padding-left: 0.5em;
  padding-right: 0.5em;
  padding-bottom: 0.5em;
}
