.folder {
  transition-property: height;
  transition-duration: var(--transition-duration-fast);
  transition-timing-function: var(--transition-timing-function);
  border-bottom: 1px solid var(--color-secondary-7);
}