name: Tests

env:
  CI: True

on:
  pull_request:
    branches: [main]

jobs:
  frontend-tests:
    runs-on: ubuntu-latest
    environment: "ci"
    env:
      SKIP_YARN_COREPACK_CHECK: true
      APP_BASE_URL: ${{ vars.APP_BASE_URL }}
      VITE_API_BASE_URL: ${{ vars.VITE_API_BASE_URL }}
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: ""
          cache: "yarn"
      - run: corepack enable
      - run: yarn install --immutable
      - run: yarn lint
      - run: yarn fmt-check
      - run: yarn workspace app css-types --list-different
      - run: yarn test -- --test-timeout=10000

  webserver-tests:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./webserver
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12.5
      - name: Install python dependencies
        run: make setup_python
      - name: Check OpenAPI up-to-date
        run: ./scripts/test/openapi_spec_check.sh
      - name: Typecheck Python
        run: make typecheck
      - name: Test Python
        run: make test

  openapi-generated-client-check:
    # This job checks that the output of openapi-generator-typescript-axios that
    # is checked into version control is up-to-date.
    env:
      SKIP_YARN_COREPACK_CHECK: true # https://github.com/actions/setup-node/issues/531#issuecomment-1819151412
      OPENAPI_SCHEMA: ./webserver/openapi.yaml
      GENERATOR_IGNORE_FILE: ./packages/api/.openapi-generator-ignore
      GENERATOR_OUTPUT_DIR_CI: ./packages/api/tmp/generated
      GENERATOR_OUTPUT_DIR_VC: ./packages/api/src/generated
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: "20.19.0"
          cache: "yarn"
      - run: corepack enable
      - name: Setup env variables
        run: cp .env.development .env
      - name: Install dependencies
        run: yarn install --immutable
      - name: Generate Fresh API Client
        uses: openapi-generators/openapitools-generator-action@v1
        with:
          generator: typescript-axios
          openapi-file: ${{ env.OPENAPI_SCHEMA }}
          generator-tag: v7.2.0
          command-args: |
            --output $GENERATOR_OUTPUT_DIR_CI \
            --ignore-file-override $GENERATOR_IGNORE_FILE \
            --additional-properties=useSingleRequestParameter=true,paramNaming=original
      - name: Format freshly generated client
        run: npx prettier@4.0.0-alpha.8 $GENERATOR_OUTPUT_DIR_CI/**/*.ts --write
      - name: Check VC client is up-to-date
        run: |
          diff $GENERATOR_OUTPUT_DIR_CI $GENERATOR_OUTPUT_DIR_VC \
          || { echo "OpenAPI spec is out of date. Please regenerate via ./scripts/generate_openapi.sh"; exit 1; }
